/* WIDGET STYLES */

/* Smaily custom styles */
div.smaily_section:first-child {
	margin-top: 10px;
}

div.smaily_section {
    margin: 10px 0 40px;
}

@media (min-width: 600px) {
	.smaily_subheading {
		font-size: 22px;
		margin: 20px 0 15px;
		font-weight: bold;
	}
}

@media (max-width: 599px) {
	.smaily_subheading {
		font-size: 20px;
		margin: 20px 0 15px;
		font-weight: bold;
	}
}

.smaily_paragraph {
	margin: 10px 0;
}

.smaily_label, .smaily_text {
	font-size: 15px !important;
	font-weight: normal;
	margin-top: 3px;
}

.smaily_label_strong {
	font-size: 15px !important;
	font-weight: bold !important;
}

.smaily_instructions {
	margin: 15px 0 15px;
	font-size: 14px !important;
	color: #787c82;
}

/* Layout styles*/
.smaily-layout-container {
    background-color: #f6f7f7;
    border: 1px solid #c3c4c7;
    border-radius: 5px;
    padding: 0px 15px 0px 15px;
    margin-bottom: 10px;
}

@media (min-width: 500px) {
	.smaily-layouts {
		width: 80% !important;
	}
}

@media (min-width: 600px) {
	.smaily-layouts {
		width: 70% !important;
	}
}

@media (max-width: 499px) {
	.smaily-layouts {
		width: 90% !important;
	}
}

/* Button styles */
.button-style {
    width: 100%;
    border: 1px solid #8c8f94;
    border-radius: 5px;
    padding: 5px 0px 5px 0px;
    margin-top: 3px;
    font-size: 15px !important;
}

/* Checkbox styles */
.smaily-checkbox {
    border: 1px solid #8c8f94;
    border-radius: 4px;
    background: #fff;
    color: #50575e;
    clear: none;
    cursor: pointer;
    display: inline-block;
    line-height: 0;
    height: 1rem;
    margin: -.25rem .25rem 0 0;
    outline: 0;
    padding: 0!important;
    text-align: center;
    vertical-align: middle;
    width: 1rem;
    min-width: 1rem;
    -webkit-appearance: none;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    transition: .05s border-color ease-in-out;
}
