/* NEWSLETTER WIDGET*/

.smaily-newsletter-closebtn {
  margin-left: 5px;
  color: red;
  font-weight: bold;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.smaily-newsletter-closebtn:hover {
  color: black;
}

.smaily-newsletter-form button[type="submit"] {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

.smaily-newsletter-form button[type="submit"]:hover {
  background-color: #45a049;
}

#smaily-checkout-subscribe {
  font-family: -apple-system, blinkmacsystemfont, "Helvetica Neue", helvetica,
    sans-serif;
  letter-spacing: normal;
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0 0 0.5rem 0;
}
